<div class="container card p-5 m-5 mx-auto">


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <% if @user.picture.attached? %>
              <%= image_tag user.picture, width: "200px", class:"mx-auto img-thumbnail" %>
            <% else %>
                <p class="badge badge-warning">Please add a profile picture!</p>
                <%= image_tag "anonymous.png", width: "200px", class:"mx-auto img-thumbnail d-block" %>
            <% end %>
            <%= f.file_field :picture, accepts: "image/png,image/jpg,image/jpeg", :label => "Profile Picture", class:"m-3 d-block" %>
          </div>
        </div>

        <div class="col-lg-7">
          <h2>Edit Profile</h2>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          
          <%= f.input :first_name,
                      required: true,
                      autofocus: true %>
          <%= f.input :surname,
                      required: true,
                      autofocus: true %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>


      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  </div>
</div>