<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.collection_select :category_id, Category.order(:title), :id, :title, required: true %>
    <%= f.input :remote_work, as: :boolean %>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <%= f.input :time, data: { target: "#datetimepicker"}, :input_html => { :class => 'form-control' }  %>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary my-3" %>
  </div>
<% end %>
