<div class="page container">

<% if @task_applications.any? %>
<h1>Please review the following tasks</h1>
	<% @task_applications.each do |task_application| %>

		<div class="">
			<div class="card">

				<div class="card-header" >
					<td>Needs review</td>
				</div>

        <div class="card-body">
					<div class="h2">
					<%= task_application.message %>
				</div>

        <div class="card-body">
					<%= task_application.user.first_name %> <%= task_application.user.surname %>
				</div>

        <%= link_to 'Approve', approved_task_path(task_application_id: task_application.id), class: "btn btn-primary" %>
        <%= link_to 'Decline', task_application, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			
				<br><br>
			</div>
		</div>
		<% end %>
	<% else %>

	<div class="container">
	<h1 class="text-white text-center mt-4">You've got no tasks that need approval!</h1>
	    
   <div class='mx-auto'>
      <%= image_tag "happy.png", width: "350px", alt: "Happy lady", class: "rounded mx-auto d-block"  %>
  </div>
	
	<div class="card container p-3">
	<h2 class="text-center">Where would you like to go?</h2>
	<div class="row d-flex justify-content-between w-75 mx-auto">
		<%= link_to 'Dashboard', dashboard_path, class: "btn btn-primary col-lg-3" %>
		<%= link_to 'Home', '/', class: "btn btn-primary col-lg-3 mx-2" %>
		<%= link_to 'Tasks', tasks_path, class: "btn btn-primary col-lg-3 mx-2" %>

		</div>
	</div>
	</div>
	<% end %>
	<br>
</div>