<div class="card container p-5 mt-5">
  <div class="row">
    <div class="task col-lg-6 col-md-6 col-sm-12">
      <p>
        <h1><%= @task.title %></h1>
      </p>

      <p>
        <strong>About the task:</strong><br>
        <%= @task.description %>
      </p>

      <p>
        <strong>Price:</strong><br>
        $<%= @task.price %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @task.category.title %>
      </p>

      <% if @task.task_date %>
      <p>
        <strong>Task to be completed on:</strong>
        <%= @task.task_date.strftime("%d-%m-%Y") %>
      </p>
      <% else %>
        <p>This task has a flexible completion date.</p></p>
      <% end %>
    
      <p>
        <strong>User:</strong>
        <%= @task.user.first_name %> <%= @task.user.surname %>
      </p>

      <p>
        <i class="fa fa-clock"></i> Posted 
          <%= time_ago_in_words(@task.created_at) %> ago
      </p>
    </div>

    <div class='col-lg-4 col-md-6 col-sm-12'>
      <% if @task.user.picture.attached? %>
        <%= image_tag @task.user.picture, width: "200px", class:"" %>
      <% else %>
          <%= image_tag "anonymous.png", width: "200px", class:"" %>
      <% end %>
      
      <p class="align-middle">
        <strong>User:</strong>
        <%= @task.user.first_name %> <%= @task.user.surname %>
      </p> 
    </div>
  </div>

    <div class="container w-100">
      <h2 class="subtitle is-5"><strong><%= @task.comments.count %></strong> Comments</h2>
      <%= render @task.comments %>
      <div class="comment-form">
        <hr />
        <h3 class="subtitle is-3">Leave a reply</h3>
        <%= render 'comments/form' %>
      </div>
    </div>

  <% if @task.user == current_user %>
    <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-info" %>
  <% end %>
    <%= link_to 'Back', tasks_path, class: "btn btn-primary" %>
</div>
