<p id="notice"><%= notice %></p>
<div class="card container p-5 mt-5">
  <div class="row">
    <div class="task col-lg-6 col-md-6">
      <p>
        <h1><%= @task.title %></h1>
      </p>

      <p>
        <strong>About the task:</strong><br>
        <%= @task.description %>
      </p>

      <p>
        <strong>Price:</strong><br>
        $<%= @task.price %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @task.category.title %>
      </p>

    
      <p>
        <strong>User:</strong>
        <%= @task.user.first_name %> <%= @task.user.surname %>
      </p>

      <p>
        <i class="fa fa-clock"></i> Posted 
          <%= time_ago_in_words(@task.created_at) %> ago
        </p>
        </div>

       <div class='col-lg-6 col-md-6'>
        <%= image_tag @task.user.picture, width: "200px", class:"" %>
      </div>  

 </div>

    <div class="container">
      <h2 class="subtitle is-5"><strong><%= @task.comments.count %></strong> Comments</h2>
      <%= render @task.comments %>
      <div class="comment-form">
        <hr />
        <h3 class="subtitle is-3">Leave a reply</h3>
        <%= render 'comments/form' %>
      </div>
    </div>

  
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>
