<div class="container-fluid index-slide d-flex align-items-center" style="height: 400px">
    <div class="index-title p-4 text-light w-10">
        <h1>Find a job.</h1>
        <h1>Or get a job done for you.</h1> 

        <%= link_to "Source",new_task_path, method: :get, class: "btn btn-info btn-lg" %>
        <%= link_to "Be Sourced", tasks_path, method: :get, class: "btn btn-info mx-3 btn-lg"%>
    </div>

    <div class='align-self-end d-none d-md-block'>
        <%= image_tag "woman_on_phone.png", class: "d-none d-md-block", width:"600px", alt: "cartoon woman" %>
    </div>
	</div>

<div class="bg-light w-100">
	<h1 class="text-center p-4">Browse categories:</h1>
	<div class="container">
		<div class="row">
			<!-- Category buttons -->
			<div class="col-lg-2 col-md-2">
				<%= link_to(tasks_path( category_id: 1), class: "btn btn-info btn-circle btn-xl") do %>
					<i class="fa fa-air-freshener mt-4"></i>
				<% end %>
				<p class="text-center" style="font-size: 15px;">Cleaning</p>
			</div>

			<div class="col-lg-2 col-md-2">
				<%= link_to(tasks_path( category_id: 2), class: "btn btn-info btn-circle btn-xl") do %>
					<i class="fa fa-truck mt-4"></i>
				<% end %>
				<p class="text-center" style="font-size: 15px;">Delivery</p>
			</div>

			<div class="col-lg-2 col-md-2">
				<%= link_to(tasks_path( category_id: 3), class: "btn btn-info btn-circle btn-xl") do %>
					<i class="fa fa-boxes mt-4"></i>
				<% end %>
				<p class="text-center" style="font-size: 15px;">Removals</p>
			</div>

			<div class="col-lg-2 col-md-2">
				<%= link_to(tasks_path( category_id: 2), class: "btn btn-info btn-circle btn-xl") do %>
					<i class="fa fa-laptop mt-4"></i>
				<% end %>
				<p class="text-center" style="font-size: 15px;">Technology</p>
			</div>

			<div class="col-lg-2 col-md-2">
				<%= link_to(tasks_path( category_id: 2), class: "btn btn-info btn-circle btn-xl") do %>
					<i class="fa fa-book mt-4"></i>
				<% end %>
				<p class="text-center" style="font-size: 15px;">Tutoring</p>
			</div>	

			<div class="col-lg-2 col-md-2">
				<%= link_to(tasks_path( category_id: 2), class: "btn btn-info btn-circle btn-xl") do %>
					<i class="fa fa-book mt-4"></i>
				<% end %>
				<p class="text-center" style="font-size: 15px;">Tutoring</p>
			</div>	
				<%= link_to "More categories",tasks_path, method: :get, class: "btn btn-success btn-lg mx-auto my-4" %>
		</div>
		

	</div>
</div>