<!DOCTYPE html>
<html>
  <head>
    <title>Outsource</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navbar" %>
     <%# Devise install requirement %>

    <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
    <% end %>
    <%= yield %>

    <%# render "partials/footer" %>
  </body>
</html>
